<div class="image">
    
    <img src="Images/banner3.jpg" class="img-responsive" />
  
</div>

<div class="container max-width-500 ">
    <div class="box bgcolor-80b3ff mobile-margin-top-48">
        <h1 class="text-align-center font-size-10">Save Your Life Save Others</h1>
        <p class="font-size-20 padding-left-10">
            <span class="glyphicon glyphicon-ok color-green"></span> Easy to get neartest hosptial.
            <br>
            <span class="glyphicon glyphicon-ok color-green"></span> Emergency Services.
            <br>
            <span class="glyphicon glyphicon-ok color-green"></span> Quick Response.
        </p>
    </div>
</div>




<div class="container max-width-900">

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 padding-left-100 mobile-padding-left-25">
        <div class="block bgcolor-lightgrey text-align-center margin-top-200 mobile-margin-top-290 ">
            <div class="circle ">Hospital</div>
            <div class="padding-top-75">
                <p>hfdjk djhfdi jhfigdj</p>
                <p>hfdjk djhfdi jhfigdj</p>
                <p>hfdjk djhfdi jhfigdj</p>

                <div class="btndiv" ng-controller="myCtrl" ng-click="showHospitalForm($event)">Register</div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 padding-left-100 mobile-padding-left-25">
        <div class="block bgcolor-lightgrey text-align-center  margin-top-200 mobile-margin-top-100">
            <div class="circle">User</div>
            <div class="padding-top-75">
                <p>hfdjk djhfdi jhfigdj</p>
                <p>hfdjk djhfdi jhfigdj</p>
                <p>hfdjk djhfdi jhfigdj</p>
                <div class="btndiv" ng-controller="myCtrl" ng-click="showUserForm($event)">Register</div>
            </div>
        </div>
    </div>
</div>
<script src="JS/routeController.js"></script>>